body{
    background-color: whitesmoke;
}
.bigbar
{
    background-color: white;
    display: flex;
    justify-content: center;
}
.bigbar img{
    height: 100px;
    padding: 20px;
    padding-bottom: 30px;
}
.login{
    display: flex;
    justify-content: center;
}
.box img{
    
}
.box{
    padding: 6px;
}
input{
    text-align: center;
    height: 30px;
}
