body{
    background-image: url('./pics/Back.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.bigbar
{
    background-color: white;
    display: flex;
    justify-content: center;
}
.bigbar img{
    height: 100px;
    padding: 20px;
    padding-bottom: 40px;
}

#logbox{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    transition: all ease 0.2s;
}
#logbox:hover{
    scale: 1.02;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
}
.box img{
    height: 34px;
    border-right: solid 1px rgb(114, 114, 114);

}
.box{
    border: border-box;
    border: solid 1px rgb(114, 114, 114);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    text-align: center;
    height: 30px;
    border:0;
}
#fp a{
    text-decoration: none;

}
#fp{
    text-align: right;
    font-size: 13px;
    padding: 8px;
    padding-right: 1px;
}
#lb button{

    background-color: rgb(48, 79, 255);
    color: white;
    height: 30px;
    font-size: 16px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 2px;
    transition: all ease 0.2s;
}
#lb a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 16px;
}
#lb:hover  button{
    background-color: rgb(25, 59, 255);

}
#lb button:active {
    font-size: 15px;
    background-color: rgb(25, 60, 255);
  }
.otherbox {
    text-align: center;
    color: rgb(255, 153, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    background-color: #ffffff42;
}
#az{
    width: 100%;
}
.otherbox img{
    height: 160px;
    border: solid 4px white;
    border-radius: 3px;
    transition: all ease 0.2s;
    
}
.bt{
    text-align: center;
    color: rgb(39, 39, 39);;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.inbox:hover img{
    border: solid 4px rgb(224, 224, 224);
    scale: 1.01;
}
.inbox:hover .bt{
    
    color: rgb(122, 122, 122);
}
.inbox{
    padding: 30px;
}