body{
    background-color: whitesmoke;
}
.bigbar
{
    background-color: white;
    display: flex;
    justify-content: center;
}
.bigbar img{
    height: 100px;
    padding: 20px;
    padding-bottom: 30px;
}
.login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
}
#box{

}